Source: transmission
Section: net
Priority: optional
Maintainer: Artem Butusov <art.sormy@gmail.com>
Uploaders: Artem Butusov <art.sormy@gmail.com>
Build-Depends: autotools-dev,
               debhelper (>= 9.20160709~),
               dh-autoreconf,
               intltool (>= 0.40),
#              libayatana-appindicator3-dev,
               libcurl4-openssl-dev | libcurl4-dev | libcurl-dev,
               libevent-dev (>= 2.0),
#              libglib2.0-dev,
#              libgtk-3-dev,
               libminiupnpc-dev (>= 1.9),
               libnatpmp-dev (>= 20110808),
               libnotify-dev (>= 0.7),
               libssl-dev,
               libsystemd-dev [linux-any],
#              qt5-qmake,
#              qt5-qmake:native,
#              qtbase5-dev,
#              qttools5-dev-tools,
               zlib1g-dev
Standards-Version: 4.3.0
# Vcs-Browser: https://salsa.debian.org/debian/transmission
# Vcs-Git: https://salsa.debian.org/debian/transmission.git
Homepage: https://transmissionbt.com/

Package: transmission
Architecture: all
Depends: transmission-common (>= ${binary:Version}),
#        transmission-gtk (>= ${binary:Version}) | transmission-qt (>= ${binary:Version}) | 
         transmission-cli (>= ${binary:Version}),
         ${misc:Depends}
Description: lightweight BitTorrent client
 Transmission is a set of lightweight BitTorrent clients (in GUI, CLI
 and daemon form). All its incarnations feature a very simple, intuitive
 interface on top on an efficient, cross-platform back-end.
 .
 This is just a metapackage depending on one of the front-end
 alternatives

Package: transmission-common
Architecture: all
Depends: ${misc:Depends}
# Replaces: transmission-gtk (<< 2.10-1)
# Breaks: transmission-gtk (<< 2.10-1)
Description: lightweight BitTorrent client (common files)
 Transmission is a set of lightweight BitTorrent clients (in GUI, CLI
 and daemon form). All its incarnations feature a very simple, intuitive
 interface on top on an efficient, cross-platform back-end.
 .
 This package contains the common files for the different transmission
 versions.

Package: transmission-cli
Architecture: any
Depends: transmission-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: transmission-daemon (= ${binary:Version}),
#          transmission-gtk (= ${binary:Version})
Replaces: transmission-daemon (<< 1.50-1)
Breaks: transmission-daemon (<< 1.50-1)
Description: lightweight BitTorrent client (command line programs)
 Transmission is a set of lightweight BitTorrent clients (in GUI, CLI
 and daemon form). All its incarnations feature a very simple, intuitive
 interface on top on an efficient, cross-platform back-end.
 .
 This package contains a (deprecated) stand-alone command-line client,
 transmission-remote to interface with transmission-daemon and tools to
 create, edit and inspect torrent files.

# Package: transmission-gtk
# Architecture: any
# Depends: transmission-common (= ${source:Version}),
#          ${misc:Depends},
#          ${shlibs:Depends}
# Recommends: xdg-utils
# Description: lightweight BitTorrent client (GTK+ interface)
#  Transmission is a set of lightweight BitTorrent clients (in GUI, CLI
#  and daemon form). All its incarnations feature a very simple, intuitive
#  interface on top on an efficient, cross-platform back-end.
#  .
#  This package contains the GTK+ stand-alone client.

# Package: transmission-qt
# Architecture: any
# Depends: transmission-common (= ${source:Version}),
#          ${misc:Depends},
#          ${shlibs:Depends}
# Recommends: xdg-utils
# Description: lightweight BitTorrent client (Qt interface)
#  Transmission is a set of lightweight BitTorrent clients (in GUI, CLI
#  and daemon form). All its incarnations feature a very simple, intuitive
#  interface on top on an efficient, cross-platform back-end.
#  .
#  This package contains the Qt stand-alone client.

Package: transmission-daemon
Architecture: any
Pre-Depends: adduser
Depends: lsb-base (>= 3.0),
         transmission-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Replaces: transmission-cli (<< 1.40-1)
Breaks: transmission-cli (<< 1.40-1)
Recommends: transmission-cli (>= 1.50-1)
Description: lightweight BitTorrent client (daemon)
 Transmission is a set of lightweight BitTorrent clients (in GUI, CLI
 and daemon form). All its incarnations feature a very simple, intuitive
 interface on top on an efficient, cross-platform back-end.
 .
 This package contains the transmission-daemon. For the associated
 transmission-remote, see the package transmission-cli.
